<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <%= csrf_meta_tag %>
  <title><%= yield(:title).present? || "Celine"%></title>
  <script src="http://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("jquery", "1.5.2");
	</script>
  <%= stylesheet_link_tag "960", "screen", "login-panel"%>
  <%= yield :additional_scripts%>
  
</head>
<body class="container_12">
<header class="clearfix">
  <h1 class="prefix_5"><%= link_to "CELINE", root_url, :class => "logo"%></h1>
  <nav>
    <ul>
      <li><%= link_to "Shoes", "", :class => "current" %></li>
      <li><%= link_to "Bags" %></li>
      <li><%= link_to "Garments" %></li>
      <li><%= link_to "Accessories" %></li>
      <li><%= link_to "Promotions" %></li>
      <li><%= link_to "Sale" %></li>
    </ul>
  </nav>
</header>
<%#= render "layouts/user_session" %>
<%= render "shared/login" %>
<%= yield %>
<footer class="prefix_2">
  <ul>
    <li><%= link_to "CELINE" %></li>
    <li><%= link_to "About Us" %></li>
    <li><%= link_to "Customer Service" %></li>
    <li><%= link_to "Store Locator" %></li>
    <li><%= link_to "Careers" %></li>
    <li><%= link_to "Contact Us" %></li>
  </ul>
</footer>
</body>
</html>
